@import url("http://fonts.googleapis.com/css?family=Oswald|Open+Sans")

body, html
	margin 0
	background url("../img/background_sistem.jpg") no-repeat 0	
	background-size cover
	padding 0
	height 100%
	font-family 'Open Sans', sans-serif
	
.container
	margin 0
	padding 20px
	width 90%	
	color #fff
	margin 0 auto
	
.btn				
	color #fff
	cursor pointer	
	font normal bold 14px 'Open Sans', sans-serif	
	text-transform uppercase
	padding 8px 14px 9px 14px
	border-width medium medium 5px
	border-style none none solid
	border-radius 5px	
	margin 10px
	text-align center
	text-decoration none	
	&.btn-aqua
		background #17DEF4
		border-color #0AAABC
		&:hover
			background #51E6F7
	&.btn-yellow
		color #B36929		
		background #FFC33E
		border-color #B36929
		&:hover
			background #F0A800
	&.btn-green		
		background #59DB0B
		color green
		font-weight bold
		border-color #63BD09
		&:hover
			background #7DF00B
	&.btn-orange		
		background #F96206
		border-color #DC5E0A
		&:hover
			background #F47622
	&.btn-red		
		background #DC1F0A
		border-color #BE1107
		&:hover
			background #E60606
.alert
	font normal normal 14px 'Open Sans', sans-serif	
	padding 10px
	margin 3px 0 3px 0
	text-align center
	box-shadow 0 0 4px rgba(0,0,0,.2)
	&.alert-danger
		color red
		background #272822
		border 1px solid red
.login
	background rgba(0,0,0, .8)
	margin 60px auto
	width 400px
	padding 20px
	.titleLogin
		font normal 400 48px "Oswald", sans-serif
		text-align center
		margin-bottom 5px
	.form
		width 300px		
		margin 0 auto
		.bloque
			margin-bottom 5px
			label, input
				display block
				width 100%
				box-sizing border-box
				font normal normal 16px 'Open Sans', sans-serif				
			input
				padding 5px
				font-size 20px
			.remember
				input, label
					width auto
					display inline-block
		.areaSubmit
			text-align center
			
		
.sistema
	background #292929
	box-shadow 0 0 5px rgba(0,0,0,.3)	
	font-size 0
	height 100%
	.huilaTitle
		font normal bold 44px 'Open Sans', sans-serif
		background #494949
		padding 5px
		text-align center
		color #fff
		margin-bottom 30px
	.municipios, .sitios
		display inline-block
		vertical-align middle
		margin 0 auto
		width 300px
		text-align center
		padding 10px
		.title
			font normal normal 32px 'Oswald', sans-serif
		ul
			height 300px
			background #5D5D5D
			padding 20px
			overflow auto
			list-style none
			li
				a
					padding 5px
					display block
					text-decoration none
					text-transform uppercase
					color #fff
					font normal normal 16px 'Open Sans', sans-serif
					&:hover
						background #4A4A4A
	.actual
		text-align center
		font normal normal 16px 'Open Sans', sans-serif
	.title
		text-transform uppercase
		font normal normal 32px 'Oswald', sans-serif
		.municipio
			color orange
	.buttons,.content
		display inline-block
		vertical-align top
		box-sizing border-box
	.buttons		
		width 20%
		padding 10px
		a
			display block
		.sitios_turisticos
			padding 10px
			.title_ul
				font normal normal 14px 'Oswald', sans-serif
			ul
				height 250px
				overflow-y auto
				padding-left 5px
				li
					font-size 12px
					a
						color #F9F9F9
						text-decoration none
						padding 5px
						&:hover
							color #39F0F0
					&:.noSitios
						list-style none
				
	.content
		text-align center	
		width 80%		
		.success,.errors
			padding 5px
			color #00B000	
			text-align center
			font normal normal 16px 'Open Sans', sans-serif
		.errors
			color red		
		.form
			padding 30px
			text-align center
			.bloque
				display inline-block
				vertical-align middle
				box-sizing border-box
				width 30%
				margin-bottom 5px
				label, input, textarea
					display block
					width 80%
					box-sizing border-box
					font normal normal 16px 'Open Sans', sans-serif				
				input, textarea
					padding 5px
					font-size 16px
				textarea
					width auto
			fieldset 
				font normal normal 16px 'Oswald', sans-serif				
				border 1px solid #3C3C3C 
				border-radius 2px
				margin-bottom 10px
				text-align left
				legend
					padding 0 10px 0 10px
			
	