@import url("http://fonts.googleapis.com/css?family=Oswald|Open+Sans")

body, html
	margin 0
	background url("../img/background_sistem.jpg") no-repeat 0 center	
	background-size cover
	padding 0
	
.container
	margin 0
	padding 20px
	width 80%	
	color #fff
	margin 0 auto
	
.btn				
	color #fff
	cursor pointer	
	font normal 500 16px 'Open Sans', sans-serif	
	text-transform uppercase
	padding 8px 14px 9px 14px
	border-width medium medium 5px
	border-style none none solid
	border-radius 5px	
	margin 10px
	text-align center
	text-decoration none	
	&.btn-aqua
		background #17DEF4
		border-color #0AAABC
		&:hover
			background #51E6F7
	&.btn-green		
		background #59DB0B
		border-color #63BD09
		&:hover
			background #76E20A
	&.btn-orange		
		background #F96206
		border-color #DC5E0A
		&:hover
			background #F47622
	&.btn-red		
		background #DC1F0A
		border-color #BE1107
		&:hover
			background #E60606
.alert
	font normal normal 12px 'Open Sans', sans-serif	
	padding 10px
	margin 3px 0 3px 0
	text-align center
	box-shadow 0 0 4px rgba(0,0,0,.2)
	&.alert-danger
		color red
		background #272822
		border 1px solid red
.login
	background rgba(0,0,0, .8)
	margin 60px auto
	width 400px
	padding 20px
	.titleLogin
		font normal 400 48px "Oswald", sans-serif
		text-align center
		margin-bottom 5px
	.form
		width 300px		
		margin 0 auto
		.bloque
			margin-bottom 5px
			label, input
				display block
				width 100%
				box-sizing border-box
				font normal normal 16px 'Open Sans', sans-serif				
			input
				padding 5px
				font-size 20px
			.remember
				input, label
					width auto
					display inline-block
		.areaSubmit
			text-align center
			
		